.back-arrow-container {
    margin-right: 90%;
}

.back-arrow-container:hover {
    cursor: pointer;
}

.anime-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.anime-container-line-history {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    color: rgb(88, 88, 88);
    min-height: 30px;
}

.anime-container-line-history:hover {
    background-color: rgb(200, 200, 200);
}

.anime-container-column {
    width: 50%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.plus-container {
    margin-top: 2px;
    margin-left: 4px;
}

.plus-container:hover {
    cursor: pointer;
}

#del {
    width: 4%;
}

.del-container {
    display: none;
    
}

.del-container:hover {
    cursor: pointer;
}

.anime-container-line-history:hover > .anime-container-column > .del-container {
    display: block;
}

@media (max-width: 500px) {
    #anime-history {
        width: 95%;
        padding-bottom: 20px;
    }

    .del-container {
        display: block;
    }

    .anime-container-line-history {
        width: 100%;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
        border-bottom: 1px solid rgb(197, 197, 197);
        border-width: 90%;
    }
}